.title {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  margin: 0px 0px 10px!important;
  color: black !important;
  text-align: center;
}
.hero.is-primary.is-medium {
  background: url("./luzhernandez.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-bottom: 2px solid black;
  box-shadow: 5px 5px gray;
  max-height: 800px;
}
.subtitle {
  color: black !important;
  font-family: "Quicksand", sans-serif;
  padding-top: 2%;
  text-align: center;
}
.hero-body {
  /*padding-bottom: 0% !important;*/
}
.hero.container {
  background-color: rgb(233, 214, 107);
  margin-bottom: 10%;
  border-radius: 10px;
  padding:10px;
  width: 50%;
}

@media screen and (max-width: 640px) {
  .hero.is-primary.is-medium {
    background: url("./luzhernandez.jpg");
    background-position: center;
  }
}


