.main {
  width: 100%;
}

@media (min-width: 1200px) {
  .main {
    max-width: 1355px;
  }
}

@media screen and (max-width: 375px) {
  .col-4 {
    /* flex: 0% 0% 0% 0% !important; */
    /* max-width: 51% !important; */
    /* padding-right: 30%; */
  }
}

@media screen and (max-width: 414px) {
  .col-4 {
    /* flex: 0% 0% 0% 0% !important; */
    /* max-width: 52% !important; */
  }
}

@media screen and (max-width: 640px) {
  .col-4 {
    /* flex: 0% 0% 0% 0% !important; */
    /* max-width: 100%; */
  }
}

@media screen and (max-width: 768px) {
  .col-4 {
    /* max-width: 100%; */
  }
}

@media screen and (max-width: 980px) {
  .col-4 {
    max-width: 100%;
  }
}

