.intro {
  margin: 0% 0% 0% 5%;
  color: black;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  line-height: 2;
}

.picture {
  margin: 0% 5% 5% 5%;
  height: 300px;
  max-width: 20%;
  border-radius: 30px;
  border: 3px solid black;
  box-shadow: 5px 5px gray;
  display: inline-block;
  float: left;
}


@media screen and (max-width: 1024px) {
  .picture {
    padding: 2%;
    margin: 2% 5% 2% 5% !important;
  }
}

@media screen and (max-width: 640px) {
  .picture {
    max-width: 60%;
  }
}